.contactBanner{
    align-items: center;
    display: flex;
}
.imageSection{
    background: #32afb4;
    min-width: 46vw;
    padding: 0 2vw;
    min-height: 60vh;
}
.contactBanner h3{
    position: relative;
    top: -2.5vh;
    min-width: 46vw;
    padding: 0 2vw;
}
.contactInformation{
    background: rgb(37, 37, 37);
    width: 150vw;
    margin: -5vh -25vw;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    min-height: 40vh;
}