.navMenu{
    left: .5em;
    position: relative;
    transition: all 2s;
}
.navMenu p{
    height: 1em;
    cursor: default;
}
.navMenu:hover .subMenu{
    transform: translate(0);
    display: block;
}
.subMenu{
    position: absolute;
    background: #fff;
    z-index: 3;
    width: 12em;
    top: 3em;
    left: -3em;
    border: 1px solid rgb(197, 197, 197);
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    transform: translate(-100%);
}
.subMenu li {
    cursor: pointer;
    transition: all .3s;
}
.subMenu li:hover{
    background: rgb(224, 224, 224);
}
.subMenu a {
    text-decoration: none;
}