@font-face {
  font-family: Gotham;
  src: url(./fonts/GothamLight.otf);
}
@font-face {
  font-family: Gotham-Bold;
  src: url(./fonts/GothamBlack.otf);
}

body {
  margin: 0;
  font-family: Gotham;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
